/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {

}

div {

}

.scoreboard {
  background-color: #99FFCC;
  border: 1px solid black;
  height: 4em;
  margin: .5em;
  padding: 1em;
  position: absolute;
  width: 10em;
}

.highscore {

}

.current {

}

.collisions {

}

.board {
  background-color: #FF3333;
  border: 1px solid black;
  height: 30em;
  width: 60em;
}

.mouse {

}

.circle {

}
