/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-color: #cccccc;
}

div {

}

.scoreboard {
  background-color: #99FFCC;
  border: 1px solid black;
  height: 4em;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  width: 8em;
}

.highscore, .current, .collisions {
  font-family: Avenir, sans-serif;
}

.board {

}

.mouse {

}

.circle {

}
